* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b1220;
  color: white;
}

/* Navbar */
header {
  position: fixed;
  width: 100%;
  background: #111827;
  padding: 15px 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 6px;
  text-decoration: none;
}

/* Sections */
section {
  padding: 80px 20px;
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skills div {
  background: #1f2937;
  padding: 10px 15px;
  border-radius: 8px;
}

/* Projects */
.project-card {
  background: #1f2937;
  max-width: 500px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
}

/* Contact */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #111827;
}